.recom {
  height: 600px;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f1ed;
  color: #545776;
  align-content: center;
  padding: 0.5%;
  width: 100%;
}

.h3 {
  padding-left: 3%;
}

.grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}
